.pagination
    .pagination__title pagination
    .pagination__buttons
        a(href="#").pagination__option_selected 1
        a(href="#").pagination__option 2
        a(href="#").pagination__option 3
        a(href="#").pagination__option ...
        a(href="#").pagination__option 15
        a(href="#").pagination__option_forward
    .pagination__description 1 – 12 из 100+ вариантов аренды