
.range-slider{
    max-width: 266px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__label {
        @include title;
        white-space: nowrap;
        
    }
    &__numbers {
        
        font-family: Montserrat;
        color: $dark-shade-50-color;
        font-size: 12px;
        margin-right: -79px;
    }
}

.ui-slider {
    border-radius: 6px;
    height: 6px;
    &-handle {
        border: 2.5px solid #FFF !important;
        border-radius: 50%;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
        width: 18px !important;
        height: 18px !important;
        margin: -3px;
        cursor: pointer !important;
        &:focus {
            outline: none;
        }
    }

}
div.ui-slider-range.ui-widget-header {
    background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 1px solid #FFF;
    height: 8px;
    margin: -2px;
}