.footer-navigation {
    padding: 0;
    list-style: none;
    margin: 0;
    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 12px;
        white-space: nowrap;
        color: $dark100;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__item {
        &::first-letter {
            text-transform: uppercase;
        }
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.50);
        margin-bottom: 13px;
        &:hover, 
        &:active {
            color: $dark100;
            font-weight: 700;
        }
    }
    &__link {
        text-decoration: none;
        color: inherit;
        white-space: nowrap;
    }
}