.guest {
    &__form {
        max-width: 320px;
        min-width: 280px;
        padding: 0 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        height: 44px;
        position: relative;
        &:hover {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }
    &__input {
        outline: none;
        border: none;
        &::placeholder {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &__expand {
        cursor: pointer;
    }
    &__dropdown {
        display: none;
        position: absolute;
        z-index: 10;
    }
}
.js-guest_open {
    display: block;
}