.guest.js-guest
    .guest__form.js-guest__expand
        input(type="text" readonly placeholder='Сколько гостей').guest__input
        img(src="./images/expand.svg", alt="expand").guest__expand
    .guest__dropdown.js-guest-dropdown
        .guest__row
            .guest__name Взрослые
            .guest__counter.js-counter
                button(data-direction="minus").guest__sign.js-counter__minus
                input(type="text" value="0").guest__number.js-counter__adults
                button(data-direction="plus").guest__sign.js-counter__plus
        .guest__row
            .guest__name Дети
            .guest__counter.js-counter
                button(data-direction="minus").guest__sign.js-counter__minus
                input(type="text" value="0").guest__number.js-counter__children
                button(data-direction="plus").guest__sign.js-counter__plus
        .guest__row
            .guest__name Младенцы
            .guest__counter.js-counter
                button(data-direction="minus").guest__sign.js-counter__minus
                input(type="text" value="0").guest__number.js-counter__infants
                button(data-direction="plus").guest__sign.js-counter__plus
        .guest__buttons
            .guest__clear.js-clear-button Очистить
            .gues__submit.js-submit-button Применить
            
