<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Search room

        script(src="./main.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="./js/datepicker.js")
        script(src="./js/range-slider.js")
        
        include ../../../common/inputs-mixins
        include ../../../common/dropdown-mixins
        include ../../../common/rooms-mixin
        
    header
        include ../../../common/header
    body
        .search-page
            .search-page__content
                .search-page__filter.filter
                    .filter__dropdowns
                        .filter__item
                            .filter__title Даты пребывания в отеле
                            .filter__form.text-field__dropdown-default
                                +input-date-range('19 авг - 23 авг')
                        .filter__item
                            .filter__title Гости
                            .filter__form.text-field
                                .text-field__dropdown-default
                                    +input-dropdown("3 гостя, 1 младенец")
                                .text-field__common-dropdown.common-dropdown.hidden
                                    .common-dropdown__rows
                                        +dropdown("Взрослые", 2, "adults", "guests-counter__btn")
                                        +dropdown("Дети", 1, "children", "guests-counter__btn")
                                        +dropdown("Младенцы", 1, "infants", "guests-counter__btn")
                                    .common-dropdown__buttons
                                        .common-dropdown__clear.button-pointer Очистить
                                        .common-dropdown__submit Применить
                                script(src="./js/dropdown-guests-default.js")
                    .filter__range-slider
                        include ../../../form_elements/src/includes/main-buttons/range-slider
                        +range-slider('Диапазон цены')
                        .filter__range Стоимость за сутки пребывания в номере
                    .filter__checkbox
                        .filter__title Checkbox buttons
                        include ../../../form_elements/src/includes/small-buttons/checkbox
                    .filter__rich-checkbox
                        include ../../../form_elements/src/includes/rich-checkbox-buttons
                        +rich-checkbox('доступность')
                    .filter__item
                        .filter__title Удобства номера
                        .filter__form.text-field
                            .text-field__dropdown-default
                                +input-dropdown("2 спальни, 2 кровати...")
                            .text-field__common-dropdown.room__dropdown.common-dropdown.hidden
                                .common-dropdown__rows
                                    +dropdown("Спальни", 2, "bedrooms", "rooms-counter__btn")
                                    +dropdown("Кровати", 2, "beds", "rooms-counter__btn")
                                    +dropdown("Ванные комнаты", 0, "bathrooms", "rooms-counter__btn")
                            script(src="./js/dropdown-rooms.js") 
                    .filter__item.expansion
                        .expansion__head
                            .expansion__title Дополнительные удобства
                            .expansion__arrow 
                        .expansion__dropdown.hidden
                            include ../../../common/expandable-checkbox-list
                        script(src="./js/expandable-checkbox.js")
                        script(src="./js/dropdown.js")
                .search-page__rooms.rooms
                    .rooms__title Номера, которые мы для вас подобрали
                    .rooms__options
                        .rooms__column
                            +room("../src/img/888.png", "888", "9 990", "5", "145", "" , "люкс", "##")
                            +room("../src/img/856.png", "856", "7 300", "5", "19", "hidden", "", "#")
                            +room("../src/img/678.png", "678", "5 500", "5", "45", "hidden", "", "#")
                            +room("../src/img/666.png", "666", "5 000", "5", "25", "hidden", "", "#")
                        .rooms__column
                            +room("../src/img/840.png", "840", "9 990", "4", "65", "hidden", "", "#")
                            +room("../src/img/740.png", "740", "6 000", "4", "44", "hidden", "", "#")
                            +room("../src/img/450.png", "450", "5 300", "4", "39", "hidden", "", "#")
                            +room("../src/img/444.png", "444", "5 000", "3", "39", "hidden", "", "#")
                        .rooms__column
                            +room("../src/img/980.png", "980", "8 500", "3", "35", "hidden", "люкс", "#")
                            +room("../src/img/982.png", "982", "5 800", "3", "56", "hidden", "", "#")
                            +room("../src/img/350.png", "350", "5 000", "3", "77", "hidden", "", "#")
                            +room("../src/img/352.png", "352", "5 000", "3", "55", "hidden", "", "#")
                    .rooms__pagination.pagination
                        .pagination__buttons
                            a(href="#").pagination__option_selected 1
                            a(href="#").pagination__option 2
                            a(href="#").pagination__option 3
                            a(href="#").pagination__option ...
                            a(href="#").pagination__option 15
                            a(href="#").pagination__option_forward
                        .pagination__description 1 – 12 из 100+ вариантов аренды

    footer  
        include ../../../common/footer