<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form elements
        script(src='./main.js')
        
        


    body
        .form-elements
            include includes/text-fields
            include includes/small-buttons
            include includes/main-buttons
            include includes/dropdown-rooms-default
            include includes/dropdown-guests-default
            include includes/dropdown-guests-example
            include includes/expandable-list
            include includes/rich-checkbox-buttons
        script(src="js/dropdown.js")
        
                    
