$dark100: #1F2041;
$dark75: rgba(#1F2041, 0.75);
$dark50: rgba(#1F2041, 0.5);
$dark25: rgba(#1F2041, 0.25);
$dark5: rgba(#1F2041, 0.05);
$dark1: rgba(#1F2041, 0.01);
$purple: #BC9CFF;
$green: #6FCF97;
$gray: #F4F4F6;
$gradientPurpleBlue: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
