.button-element
    .button-element__title buttons
    .button-element__example
        .button-element__option
            a(href="#").button-element__fill click me
            a(href="#").button-element__fill_hovering click me
        .button-element__option
            .button-element__inner
                a(href="#").button-element__border click me
            .button-element__inner
                a(href="#").button-element__border_hovering click me
        .button-element__option_small
            a(href="#").button-element__plain-text click me
            a(href="#").button-element__plain-text_inactive click me
        .button-element__payment
            a(href="#").button-element__fill перейти к оплате