.button-element {
    &__example {
        display: flex;
        flex-direction: column;
        height: 236px;
        justify-content: space-between;
    }
    &__title {
        @include title;
        margin-bottom: 16px;
    }
    &__option {
        max-width: 218px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        &_small {
            max-width: 142px;
            display: flex;
            justify-content: space-between;
        }
        
    }
    &__fill {
        @include purple-button;
        &:hover {
            @include purple-button-hover;
        }
        &_hovering {
            @include purple-button;
            @include purple-button-hover;
        }
    }
    &__border {
        @include transparent-button;
        &:hover {
            @include transparent-button-hover;
        }
        &_hovering {
            @include transparent-button;
            @include transparent-button-hover;
        }
    }
    &__plain-text {
        @include h3-text;
        color: $purple-color;
        &_inactive {
            @include h3-text;
            color: $dark-shade-50-color;
        }
    }
    &__payment {
        max-width: 320px;
    }
}