mixin text-type(data)
    .font
        each i in data
            - const {classModifier, name, text} = i
            div(class=`font__block font__block_${classModifier}`)
                .font__name= name
                .font__example= text