.font {
  &__block {
    width: 450px;
    display: flex;
    margin-bottom: 50px;
    color: #1F2041;
    font: {
      family: Montserrat, sans-serif;
      weight: 700;
    }

    &_h1 {
      font-size: 24px;
    }
    &_h2 {
      font-size: 19px;
      line-height: 24px;
    }
    &_h3 {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
    &_body {
      font: {
        weight: normal;
        size: 14px;
      }
      color: rgba(31, 32, 65, 0.75);
      line-height: 24px;
    }
  }
  &__name {
    color: rgba(31, 32, 65, 0.25);
    font-weight: normal;
    min-width: 37px;
    text-align: right;

  }
  &__example {
    margin-left: 30px;
  }
}


