<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registration
        script(src="./registration.js")
    header
        include ../../../common/header
    body
        .registration-page
            .registration-page__card
                include ../../../cards/src/includes/registration.pug
    footer  
        include ../../../common/footer