<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Room details
        script(src="./details.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="./js/datepicker.js")
        
    header
        include ../../../common/header
        
    body
        .room-details
            .room-details__photo.photo
                .photo__column
                    img(src="./img/main-photo.png", alt="room photo 1").photo_main
                .photo__column
                    img(src="./img/photo-add-1.png", alt="room photo 2").photo_add
                    img(src="./img/photo-add-2.png", alt="room photo 3").photo_add_shifted
            .room-details__information
                .room-details__text
                    .room-details__info
                        .room-details__benefits
                            .room-details__title Сведения о номере
                            include ../../../common/benefits-mixins
                            +benefit("./img/insert_emoticon.svg", "comfort", "Комфорт", "Шумопоглощающие стены", "yes")
                            +benefit("./img/location_city.svg", "location", "Удобство", "Окно в каждой из спален", "yes")
                            +benefit("./img/fireplace.svg", "cosy", "Уют", "Номер оснащён камином")
                        .room-details__feedback
                            .room-details__title Впечатления от номера
                            .room-details__diagram
                                include ./includes/diagram
                    .room-details__comments
                        .room-details__title Отзывы посетителей номера
                            .room-details__number 2 отзыва
                        include ../../../common/comments
                        +comment("./img/image.png", "Мурад Сарафанов", "5 дней назад", "12", "active", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
                        +comment("./img/image-4.png", "Патрисия Стёклышкова", "Неделю назад", "2", "inactive", "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")
                        script(src="./js/like-button.js")
                    .room-details__rules
                        .room-details__bullet-list
                            .room-details__title.room-details__title_shifted Правила
                            include ../../../form_elements/src/includes/bullet-list
                            +bullet()
                        .room-details__cancelation
                            .room-details__title Отмена
                            .room-details__description Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                .room-details__calculator
                    include ../../../cards/src/includes/calc-price
                script(src="./js/dropdown-guests-default.js")
                script(src="./js/dropdown.js")
                    
    footer  
        include ../../../common/footer