mixin burger(data)
    .burger
        - const {isAuth, userName, navigation, signIn, signUp} = data
        .burger__sign.burger__sign_closed.js-burger__sign
            span 
        .burger__content.burger__content_hidden.js-burger__content 
            .burger__navigation
                    +header-navigation(navigation, true)
            if isAuth 
                .burger__name= userName
            else
                a(href=signIn.url).burger__button= signIn.text
                a(href=signUp.url).burger__button= signUp.text