.burger {
    &__sign {
        width: 40px;
        height: 40px;
        border: 3px solid #8BA4F9;
        border-radius: 4px;
        position: relative;
        margin-right: 0;
        margin-left: auto;
        &_open {
            &::before,
            &::after,
            span {
                content: '';
                width: 30px;
                height: 3px;
                background-color: $purple;
                position: absolute;
                left: 5px;
                transition: all .3s ease-in-out;
            }
            &::before {
                top: 19px;
                transform: rotate(45deg);
            }
            span {
                display: none;
            }
            &::after {
                bottom: 19px;
                transform: rotate(-45deg);
            }
        }
        &_closed {
            &::before,
            &::after,
            span {
                content: '';
                width: 30px;
                height: 3px;
                background-color: $purple;
                position: absolute;
                left: 5px;
                transition: all .3s ease-in-out;
            }
            &::before {
                top: 11px;
            }
            span {
                top: 19px;
            }
            &::after {
                bottom: 11px;
            }
        }
    }
    &__content {
        &_hidden {
            display: none;
        }
        background-color: #ffffff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
        margin: 5px auto 0;
        border: 1px solid  rgba(31, 32, 65, 0.25);
        padding-bottom: 10px;
        position: relative;
        z-index: 2;
    }
    &__name {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: $dark50;
        text-align: center;
        &::before {
            content: '';
            display: block;
            width: 50%;
            margin: 0 auto;
            height: 1px;
            background-color: $dark25;
        }
    }
    &__button {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: $purple;
        margin-bottom: 5px;
    }
}