.comment{
    grid-column: 2 / 4;
    &__head {
        display: flex;
        align-items: center;
    }
    &__photo {
        margin-bottom: -20px;
        margin-right: -11px;
        margin-left: -19px;
    }
    &__text {
        @include body-text;
    }
    &__name {
        font-weight: bold;
    }
    &__main {
        display: flex;
    }
    &__like {
        @include like-button;
        margin-right: 15px;
        margin-left: 4px;
        margin-top: 1.5px;
    }
}