.expansion
    .expansion__cut
        .expansion__head
            .expansion__title expandable checkbox list
            .expansion__arrow 
    .expansion__full
        .expansion__head
            .expansion__title expandable checkbox list
            .expansion__arrow.expand-less 
        .expansion__dropdown
            include ../../../common/expandable-checkbox-list
    script(src="./js/expandable-checkbox.js")