include ./buttons-mixins.pug

mixin comment(img, name, date, number, active, text)
    .comment
        .comment__head
            img(src= img).comment__photo
            .comment__text
                .comment__name= name
                .comment__date= date
        .comment__main
            .comment__like
                +like-button(number, active)
            .comment__text= text