.label {
    @include h3-text;
}

.dropdown-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter {
    max-width: 92px;
    display: flex;
    justify-content: space-between;
    &__btn {
        width: 30px;
        height: 30px;
        border: 1px solid $dark-shade-50-color;
        border-radius: 50%;
        background-color: #FFF;

        color: $dark-shade-50-color;
        font-size: 18px;
        line-height: 22px;
    }
    &__value {
        max-width: 30px;
        text-align: center;
        @include h3-text;
    }
}

.minus-btn {
    color: $dark-shade-25-color;
    border-color: $dark-shade-25-color;
}