mixin checkbox-in-list(name, description, checked)
    .checkbox-list__form
        - if (checked === "checked") {
            input(type="checkbox", name= name, id= name, checked).checkbox-list__input
            label(for= name).checkbox-list__label= description
        - } else {
            input(type="checkbox", name= name, id= name).checkbox-list__input
            label(for= name).checkbox-list__label= description
        - }
    

.checkbox-list
    +checkbox-in-list("breakfast", "Завтрак")
    +checkbox-in-list("table", "Письменный стол", "checked")
    +checkbox-in-list("baby-chair", "Стул для кормления", "checked")
    +checkbox-in-list("baby-bed", "Кроватка", "checked")
    +checkbox-in-list("tv", "Телевизор")
    +checkbox-in-list("shampoo", "Шампунь")