include ../../components/subscription-form/subscription-form

mixin footer-navigation-list(name, href)
    li.footer-regular__text
        a(href= href class="footer-regular__anchor")= name
mixin footer-navigation-title(name)
    li.footer-regular__title= name

.footer-regular
    .footer-regular__content
        .footer-regular__information
            img(src="./images/logo-color.svg", alt="logo").footer-regular__logo
            .footer-regular__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        nav.footer-regular__navigation
            ul.footer-regular__list
                +footer-navigation-title("Навигация")
                +footer-navigation-list("О нас", "#")
                +footer-navigation-list("Новости", "#")
                +footer-navigation-list("Служба поддержки", "#")
                +footer-navigation-list("Услуги", "#")
            ul.footer-regular__list
                +footer-navigation-title("о нас")
                +footer-navigation-list("О сервисе", "#")
                +footer-navigation-list("наша команда", "#")
                +footer-navigation-list("вакансии", "#")
                +footer-navigation-list("инверсторы", "#")
            ul.footer-regular__list
                +footer-navigation-title("служба поддержки")
                +footer-navigation-list("соглашения", "#")
                +footer-navigation-list("сообщества", "#")
                +footer-navigation-list("связь с нами", "#")
        .footer-regular__subscription
            .footer-regular__title.footer-regular__title_last Подписка
            .footer-regular__text Получайте специальные предложения и новости сервиса
            .widget-footer__form
                +subscription-form("Email")
    .footer-regular__bar
        include ../../components/footer-bar/footer-bar
