<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing page
        script(src="./main.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="./js/datepicker.js")
    header
        include ../../../common/header   
    body.landing-page
        .landing-page__content
            .landing-page__datepicker
                include ../../../cards/src/includes/search-form
                script(src="./js/dropdown.js")
            .landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
    footer
        include ../../../common/footer
    
        