<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing page
        script(src="./main.js")
    header.header
        include ../../../common/header-navigation-mixins
        .header__content
            .header__menu
                .header__logo
                    img(src='img/logo.svg', alt='logo').logo
            .header__navigation
                nav.navigation
                    ul.navigation__list
                        +navigation-menu('о нас', '#')
                        +navigation-menu-sub('услуги', '#')
                        +navigation-menu('вакансии', '#')
                        +navigation-menu('новости', '#')
                        +navigation-menu-sub('соглашения', '#')
            .header__buttons
                .header__item
                    a(href="#").header__sign-in войти
                .header__item
                    a(href="#").header__registration зарегистрироваться
        
    body.landing-page
        .landing-page__content
            .landing-page__datepicker
                include ../../../cards/src/includes/search-form
                script(src="./js/dropdown.js")
            .landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
    footer.footer
        .footer__widget
            include ../../../headers_footers/src/includes/footers/widget
        .footer__copybar
            include ../../../headers_footers/src/includes/footers/copybar
        