.header-designer
    .header-designer__content
        img(src="./images/logo-color.svg", alt="logo").header-regular__logo
        .header-designer__navigation
            include ../header-navigation/header-navigation
            +navigation(true, false)