.main-menu
    img(src='img/logo.svg', alt='logo').logo
    nav.main-menu__navigation
        ul.main-menu__list
            li.main-menu__link_main
                a(href="#") Home
            li.main-menu__link
                a(href="#") About Us
            li.main-menu__link_sub
                a(href="#") Services
                    img(src='img/arrow.svg')
            li.main-menu__link
                a(href="#") Careers
            li.main-menu__link
                a(href="#") News
            li.main-menu__link
                a(href="#") Documentation