include ../../../../common/header-navigation-mixins
nav.navigation
    ul.navigation__list
        +navigation-menu-main('о нас', '#')
        +navigation-menu-sub('услуги', '#')
        +navigation-menu('вакансии', '#')
        +navigation-menu('новости', '#')
        +navigation-menu-sub('соглашения', '#')