include ../../../../common/header-navigation-mixins
nav.navigation
    ul.navigation__list
        +navigation-menu-main('home', '#')
        +navigation-menu('about us', '#')
        +navigation-menu-sub('services', '#')
        +navigation-menu('careers', '#')
        +navigation-menu('news', '#')
        +navigation-menu('documentation', '#')