extends ../../templates/ui-kit.pug
include ../../components/inputs/inputs.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/guests/guests.pug
include ../../components/button/button.pug


block title
    title Form Elements

block content
    -
        const inputsData = [
            {
                title: "text field",
                subtitle: "default",
                placeholder: "Email"
            },
            {
                title: "text field",
                subtitle: "hover / focus",
                placeholder: "This is pretty awesome",
                mods: ["focus"]
            },
            {
                title: "dropdown",
                placeholder: "Сколько гостей",
                className: "js-inputs__guest-counter",
                isExpanded: true,
                dropdownType: "guests",
                dropdownData: {
                    types: [
                        {
                            name: "Взрослые",
                            id: adults
                        }, {
                            name: "Дети",
                            id: kids
                        } , {
                            name: "Младенцы",
                            id: infants
                        }
                    ],
                    countForms: {
                        guests: {
                            single: "Гость",
                            several: "Гостя",
                            plural: "Гостей"
                        },
                        infants: {
                            single: "Младенец",
                            several: "Младенца",
                            plural: "Младенцев"
                        }
                    }
                },
                mods: ["expanded"]
            },
            {
                title: "masked text field",
                placeholder: "ДД.ММ.ГГГГ"
            },
            {
                title: "date dropdown",
                mods: ["expanded", "short"],
                className: "js-inputs__date-dropdown"
            },
            {
                title: "date dropdown",
                mods: ["expanded", "short"],
                className: "js-inputs__date-dropdown js-inputs__date-dropdown_chosen"
            },
            {
                title: "filter date dropdown",
                mods: ["expanded"],
                className: "js-inputs__filter-date"
            },
            {
                title: "subscription text field",
                placeholder: "Email",
                mods: ["with-arrow"]
            }
        ]
    .form-elements
        .form-elements__item
            +inputs(inputsData)
        .form-elements__item
        .form-elements__item
        .form-elements__item























//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Form Elements
//-     body
//-         .form-elements
//-             //- .ui-kit__grid-item-1
//-                 //- +sample-form('Text field', 'Default')
//-                 //-   +input()(type='email', placeholder='Email')
//-                 //- +sample-form('Text field', 'Hover / Focus')
//-                 //-   +input()(class='input_active', value='This is pretty awesome')
//-                 //- +sample-form('Dropdown', 'Default')
//-                 //-   +dropdown('', 'guests')
//-                 //- +sample-form('Masked text field', 'Default')
//-                 //-   +input('date')
//-                 //- +sample-form
//-                 //-   +date-picker('double', 'Date dropdown', 'Date dropdown')
//-                 //- +sample-form
//-                 //-   +date-picker('single', 'Filter date dropdown')
//-                 //- +sample-form('Subscription text field')
//-                 //-   +subscription