.radio-buttons
    .radio-buttons__form
        input(type="radio", name='sex', id='male', checked).radio-buttons__input
        label(for="male").radio-buttons__label Мужчина
    .radio-buttons__form
        input(type="radio", name='sex', id='female').radio-buttons__input
        label(for="female").radio-buttons__label Женщина