.toggle-buttons{
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 259px;
    }
    &__input {
        @include toggle;
    }
    &__label {
        @include body-text;
        color: $dark-shade-50-color;
    }
}