* {
	padding: 0;
	margin: 0;
	text-decoration: none;

}


.ui-datepicker {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	width: 320px;
	height: 369px;
	display: none;
	
	&-header {
	
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	align-items: center;
	}
	&-prev {
	color: rgba(0, 0, 0, 0);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 17px;
		height: 17px;
		background: url(../img/arrow_back.svg);
		}
	}
	.ui-datepicker-next {
	color: rgba(0, 0, 0, 0);
	max-width: 17px;
	order: 2;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0px;
		width: 17px;
		height: 17px;
		background: url(../img/arrow_forward.svg);
		}
	}
	&-title {
	font-style: normal;
	color: #1F2041;
	font-size: 19px;
	line-height: 24px;
	}
	&-month {
		font-family: "Open sans";
	}
	&-year {
		font-family: Quicksand;
	}
	&-calendar {
		width: 280px;
		height: 240px;
		margin-top: 30px;
		margin-left: 13px;
		margin-bottom: 20px;
		color: #BC9CFF;
		font-family: Montserrat;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		a {
			color: rgba(31, 32, 65, 0.5);
		}
	}
	&-current-day {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		border-radius: 50%;
		font-weight: bold;
		width: 16%;
		a {
			color: white;
		}

	}
	
	&-today {
		background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
		border-radius: 50%;
		color: white;
		font-weight: bold;
		width: 16%;
		a {
			color: white;
		}
	}
	&-other-month {
		a {
			color: rgba(31, 32, 65, 0.25);
		}
	}
}








