@import "../../common-styles/fonts.css";
@import "../../common-styles/variables.scss";
@import "../../templates/ui-kit.scss";
@import "../../components/palette/palette";
@import "../../components/text-type/text-type";

.colors-type {
  max-width: 1147px;
  min-width: 320px;
  margin: 145px 0 0 142px;  

  display: flex;
  justify-content: space-between;
}