.button-option
    .button-option__input
        input(type="checkbox", name='smoking', id='smoking').button-option__checkbox
        label(for="smoking") Можно курить
    .button-option__input 
        input(type="checkbox", name='pets', id='pets', checked).button-option__checkbox
        label(for="pets") Можно с питомцами
    .button-option__input   
        input(type="checkbox", name='guests-allowed', id='guests-allowed', checked).button-option__checkbox
        label(for="guests-allowed") Можно пригласить гостей (до 10 человек)