.button-option_horizontal
    .button-option__input
        input(type="radio", name='sex', id='male', checked).button-option__radio
        label(for="male") Мужчина
    .button-option__input
        input(type="radio", name='sex', id='female').button-option__radio
        label(for="female") Женщина