include ../../../common/benefits-mixins

.benefits
    +benefit("./img/insert_emoticon.svg", "comfort", "Комфорт", "Шумопоглощающие стены", "yes")
    +benefit("./img/location_city.svg", "location", "Удобство", "Окно в каждой из спален", "yes")