include ../../../common/inputs-mixins
include ../../../common/dropdown-mixins

.text-field
    .text-field__description
        .text-field__description-main dropdown
        .text-field__description-add default
    .text-field__dropdown-default
        +input-dropdown("2 спальни, 2 кровати...")

.room
    .text-field__description
        .text-field__description-main dropdown
        .text-field__description-add expanded
    .room__field
        +input-dropdown("2 спальни, 2 кровати...")
    .room__dropdown
        +dropdown("Спальни", 2, "bedrooms", "rooms-counter__btn")
        +dropdown("Кровати", 2, "beds", "rooms-counter__btn")
        +dropdown("Ванные комнаты", 0, "bathrooms", "rooms-counter__btn")

script(src="./js/dropdown-rooms.js")