include ../../../common/dropdown-mixins
.guests
    .guests__description dropdown
    .guests__field
        +input-dropdown("Сколько гостей")
    .guests__dropdown
        .guests__rows
            +dropdown("Взрослые", 0)
            +dropdown("Дети", 0)
            +dropdown("Младенцы", 0)
        .guests__buttons
            .guests__clear.button-hidden Очистить
            .guests__submit Применить