.button-hidden {
    visibility: hidden;
}

.button-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}
.border {
    border-radius: 4px;
    border-color: $dark-shade-25-color;
}
.border-focus {
    border-radius: 4px 4px 0 0;
    border-color: $dark-shade-50-color;
}

.common-dropdown {
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    margin-top: -1px;
    border: 1px solid $dark-shade-50-color;
    border-radius: 0 0 4px 4px;
    padding: 7px;
    padding-top: 5px;
    padding-left: 15px;
    &__rows {
        height: 103px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__buttons {
        margin-top: 25px;
        margin-bottom: 6px;
        display: flex;
        justify-content: space-between;
        
    }
    &__clear {
        @include h3-text;
        color: $dark-shade-50-color;
    }
    &__submit {
        @include h3-text;
        cursor: pointer;
        color: $purple-color;
    }
}