include ../../../common/dropdown-mixins
.guests
    .guests-description.description dropdown
    .guests__field
        +input-dropdown("3 гостя")
    .guests__dropdown
        .guests__rows
            +dropdown("Взрослые", 2)
            +dropdown("Дети", 1)
            +dropdown("Младенцы", 0)
        .guests__buttons
            .guests__clear.button-appearance Очистить
            .guests__submit Применить
    