.expansion{
    max-width: 266px;
    height: 315px;
    &__head {
        display: flex;
        max-width: 266px;
        height: 15px;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @include title;
        margin: 0;
    }
    &__arrow {
        background-image: url('./img/expand_more.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 44px;
        height: 44px;
        cursor: pointer;
        transition: 0.5s;
    }
    &__full {
        position: relative;
    }
    &__cut {
        margin-bottom: 48px;
    }
    &__dropdown {
        position: absolute;
        top: 33px;
        background-color: #FFF;
    }
}
//class for js
.expand-less {
    transform: rotate(180deg);
    transition: 0.5s;
}