.buttons
    .buttons__range-slider
        div Range slider
        input(type="range", name='price', id='price', min='0', max='20000')
    .buttons__main
        div Buttons
        button click me
        button click me
        div 
            button перейти к оплате