.rich-checkbox
    .rich-checkbox__title rich checkbox buttons
    .rich-checkbox__example
        .rich-checkbox__button
            .rich-checkbox__form
                input(type="checkbox", name='hall', id='hall').rich-checkbox__input
                label(for="hall").rich-checkbox__label Широкий коридор
            .rich-checkbox__description_small Ширина коридоров в номере не менее 91 см.
        .rich-checkbox__button
            .rich-checkbox__form
                input(type="checkbox", name='helper', id='helper').rich-checkbox__input
                label(for="helper").rich-checkbox__label Помощник для инвалидов
            .rich-checkbox__description На 1 этаже вас встретит специалист и проводит до номера.