.button-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &_horizontal {
        display: flex;
        justify-content: space-between;

        height: 85%;
        max-width: 221px;
    }
    &__input {
        display: flex;
        align-items: center;

        @include body-text;
        color: $dark-shade-50-color;
    }
    // from common/buttons.scss
    &__checkbox {
        @include radio-check;
        @include check;
    }
    &__radio {
        @include radio-check;
        @include radio;
    }
    &__toggle {
        @include toggle;
    }   
}