.small-button
    .small-button__checkbox
        
        div
            input(type="checkbox", name='smoking', id='smoking')
            label(for="smoking") Можно курить
        div 
            input(type="checkbox", name='pets', id='pets', checked)
            label(for="pets") Можно с питомцами
        div   
            input(type="checkbox", name='guests-allowed', id='guests', checked)
            label(for="guests-allowed") Можно пригласить гостей (до 10 человек)
    .small-button__radio
        div
            input(type="radio", name='sex', id='male', checked)
            label(for="male") Мужчина
        div
            input(type="radio", name='sex', id='female')
            label(for="female") Женщина