.small-buttons {
    height: 537px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include body-text;
    color: $dark-shade-50-color;
    &__checkbox {
        max-width: 222px;
    }
    &__radio {
        max-width: 220px;
    }
}

.button-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__description{
        height: 35px;
        align-self: flex-start;
        @include title
    }
    &__input {
        display: flex;
        align-items: center;
    }
    &__example {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        &_horizontal {
            display: flex;
            justify-content: space-between;
            height: 85%;
        }
    }
    &__checkbox {
        @include radio-check;
        @include check;
    }
    &__radio {
        @include radio-check;
        @include radio;
    }
    &__toggle {
        @include toggle;
    }   
}
