.small-buttons
    .small-buttons__option
        .small-buttons__description checkbox buttons
        include small-buttons/checkbox
    .small-buttons__option
        .small-buttons__description radio buttons
        include small-buttons/radio
    .small-buttons__option
        .small-buttons__description toggle
        include small-buttons/toggle
    .small-buttons__option
        .small-buttons__description like button
        include small-buttons/like
    .small-buttons__option
        .small-buttons__description rate button
        include small-buttons/rate
        

