
.inputs {
    height: 636px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
    &__regular {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__small {
        height: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}

.text-field {
    position: relative;
    &__common-dropdown {
        width: 100%;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        &_main {
            @include title;
        }
        &_add {
            @include h3-text;
            color: $dark-shade-50-color;
            font-weight: normal;
        }
    }
    &__default {
        @include default;
        width: 320px;
        
    }
    &__focus {
        @include focus-demonstration;
    
    }
    &__dropdown-default {
        @include dropdown;
        max-width: 320px;
    }

    &__date-dropdown {
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        &_single{
            max-width: 150px;
        }
    }

    &__filter {
        @include dropdown;
        max-width: 266px;
    }

    &__email {
        @include subscription;
        max-width: 267px;
    }
}
