include ../../../common/inputs-mixins
include ../../../common/dropdown-mixins

.inputs
    .inputs__regular
        .text-field
            .text-field__description
                .text-field__description.description text field
                .text-field__description_add default
            .text-field__default
                +input-text("Email", "some name")

        .text-field
            .text-field__description
                .text-field__description.description text field
                .text-field__description_add hover / focus
            .text-field__focus
                +input-text("This is pretty awesome")

        .text-field
            .text-field__description
                .text-field__description.description dropdown
                .text-field__description_add default
            .text-field__dropdown-default
                +input-dropdown("Сколько гостей")
            .text-field__common-dropdown.common-dropdown.hidden
                .common-dropdown__rows
                    +dropdown("Взрослые", 0, "adults", "guests-counter__btn")
                    +dropdown("Дети", 0, "children", "guests-counter__btn")
                    +dropdown("Младенцы", 0, "infants", "guests-counter__btn")
                .common-dropdown__buttons
                    .common-dropdown__clear.button-hidden Очистить
                    .common-dropdown__submit Применить
            script(src="./js/dropdown-guests-default.js")

        .text-field
            .text-field__description
                .text-field__description.description masked text field
                .text-field__description_add default
            .text-field__default
                +input-text("ДД.ММ.ГГГГ")

    .inputs__small
        .text-field__date-dropdown
            .text-field__date-dropdown_single
                .text-field__description
                    .text-field__description.description date dropdown
                .text-field__dropdown-default
                    +input-dropdown("ДД.ММ.ГГГГ")
            .text-field__date-dropdown_single
                .text-field__description
                    .text-field__description.description date dropdown
                .text-field__dropdown-default
                    +input-dropdown("19.08.2019")

        .text-field
            .text-field__description.description filter date dropdown
            .text-field__filter
                +input-dropdown("19 авг - 23 авг")
        .text-field    
            .text-field__description.description subscription text field
            .text-field__email
                +input-email("Email")