mixin navigation(list)
    nav.navigation
        ul.navigation__list
            each item in list
                li.navigation__item
                    if item.isExpanded
                        a(href= item.link).navigation__link.navigation__link_expanded= item.text
                    else
                        a(href= item.link).navigation__link= item.text
                        
                    