* {
	margin: 0;
	padding: 0;
}
/*header*/
	.header {
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		max-width: 1440px;
		width: 100%;
		background-color: #FFF;	
	}
	.header-content {
		max-width: 1160px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}

	.main-menu {
		max-width: 822px;
		width: 100%;
		white-space: nowrap;

		&__list {
			display: flex;
			justify-content: space-between;
			list-style: none;	
		}

		&__link {
			position: relative;
			a {
				text-decoration: none;
				font-size: 14px;
				font-family: Montserrat;
				color: rgba(31, 32, 65, 0.5);
				}
			&:hover .sub-menu{
					display: block;
			}
		}

	/* кнопка входа*/
		&__entrance {
			a{
				font-family: Montserrat;
				color: #BC9CFF;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 12px;
				font-weight: bold;
				
				background-color: #FFF;
				border: 2px solid transparent;
				padding: 7.5px 18.5px;
				position: relative;
				border-radius: 20px;
				background-clip: padding-box;
				margin: auto;
				z-index: 1;
				&:before {
					content: '';
					position: absolute;
					top: 0; left: 0; bottom: 0; right:0;
					background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
					margin: -2px;
					z-index: -1;
					border-radius: 20px;
				}
				/*добавление белой полупрозрачной обводки*/
				&:hover {
					border: 2px solid rgba(255, 255, 255, 0.5);
				}

				
			}
		}
	/*кнопка регистрации*/
		&__registration {
			a{
				font-family: Montserrat;
				text-decoration: none;
				color: #FFF;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
				padding: 9.5px 22px;
				border-radius: 22px;
				background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}

	.sub-menu {
		display: none;
		padding: 5px;
		position: absolute;
		background-color: #FFF;
		border-radius: 2px;
		&__link {
			padding: 2px;
			list-style: none;
			white-space: nowrap;
		}

	}
/*main body content*/
	.body {
		background-image: url(../img/background-photo.png);
		background-repeat: no-repeat;
		max-width: 1440px;
	}

	.content {
		max-width: 1160px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		min-height: 830px;
		&__text {
			max-width: 297px;
			font-family: Montserrat;
			font-size: 14px;
			line-height: 24px;
			color: rgba(31, 32, 65, 0.75);
			align-self: flex-end;
			margin-bottom: 1.5%;


		}
	}

	.container {
		border: 1px solid rgba(0, 0, 0, 0.12);
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		background-color: white;
		width: 380px;
		height: 374px;
		align-self: flex-start;
		margin-top: 6%;
	}

	.search {
		width: 320px;
		height: 304px;
		
		margin: 40px auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&__title {
			font-family: "Open sans";
			max-width: 320px;
			font-size: 24px;
			line-height: 30px;
			color: #1F2041;
		}
		&__text {
			font-family: Montserrat;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: #1F2041;
			font-weight: 700;
		}
		&__button {
			
			display: flex;
			align-items: center;
			position: relative;

			a {
				background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
				border-radius: 22px;
				width: 100%;
				padding: 4% 29%;

				text-decoration: none;
				color: white;
				font-family: Montserrat;
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
				margin: 0 auto;
				&:hover {
				opacity: 0.5;
			}
			}
			input {
			position: absolute;
			margin-left: 90%;		
			}
		}
	}

	.dates {
		display: flex;
		justify-content: space-between;
		form :first-child {
			width: 103px;
		}
	}


	.form {
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		height: 44px;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__text {
			outline: none;
			border: none;
			font-family: Montserrat;
			font-size: 14px;
			line-height: 18px;
		}
		&__arrow {
			padding: 5px;
		}
	}
/*footer navigation*/
	.footer {
		max-width: 1440px;

	}
	.info {
		max-width: 1160px;
		margin: 7% auto;
		height: 172px;
		display: flex;
		justify-content: space-between;
		&__logo, &__subscription {
			max-width: 260px;
		}

		&__list {
			max-width: 200px;
		}

		&__title {
			font-family: Montserrat;
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			color: #1F2041;
		}

		&__link {
			list-style: none;
			margin-top: 20px;
			a {
				font-family: Montserrat;
				font-weight: normal;
				text-decoration: none;
				color: rgba(31, 32, 65, 0.75);
				line-height: 17px;
				font-size: 14px;
				text-transform: none;
				
			}
		}
	}
	.logo {
		&__img {
			margin-bottom: 20px
		}
		&__description {
			font-family: Montserrat;
			font-size: 14px;
			line-height: 24px;
			color: rgba(31, 32, 65, 0.75);
		}
	}
	.subscription {
		margin-top: 0;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1F2041;
		&__description {
			text-transform: none;
			font-weight: normal;
			color: rgba(31, 32, 65, 0.75);
			line-height: 24px;
			font-size: 14px;
			margin: 20px 0;
		}
		&__form {
			
			display: flex;
			align-items: center;
			width: 260px;
			height: 44px;
			border: 1px solid rgba(31, 32, 65, 0.25);
			border-radius: 4px;
			&_text {
				border: none;
				outline: none;
				width: 216px;
				font-family: Montserrat;
				font-size: 14px;
				line-height: 24px;
				color: rgba(31, 32, 65, 0.25);
				padding-left: 15px;
			}
		}
	}

/*footer copyright*/


	.footer-content {
		max-width: 1160px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
	}
	.copyright {
		max-width: 367px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: rgba(31, 32, 65, 0.75);
	}
	.soc-media {
		max-width: 112px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__icon {
			max-width: 20px;
		}
	}
