mixin subscription-form(placeholder, action)
    form(action= action method="get").subscription-form
        input(type="email" placeholder= placeholder name="email").subscription-form__text
        img(src="./images/arrow-subscription.svg").subscription-form__arrow