<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src='./main.js')
        title Colors & type
    body
        img(src="img/logo-bw.svg", alt="").logo
        .colors-type
            .colors
                .colors__data
                    .colors__box#dark-shade-100
                    .colors__text Dark Shade 100%
                        .colors__number #1F2D41
                .colors__data
                    .colors__box#dark-shade-75
                    .colors__text Dark Shade 75%
                        .colors__number #1F2D41
                .colors__data
                    .colors__box#dark-shade-50
                    .colors__text Dark Shade 50%
                        .colors__number #1F2D41
                .colors__data
                    .colors__box#dark-shade-25
                    .colors__text Dark Shade 25%
                        .colors__number #1F2D41
                .colors__data
                    .colors__box#dark-shade-05
                    .colors__text Dark Shade 5%
                        .colors__number #1F2D41
                .colors__data
                    .colors__box#purple
                    .colors__text Purple
                        .colors__number #BC9CFF
                .colors__data
                    .colors__box#green
                    .colors__text Green
                        .colors__number #6FCF97
                
        
            .type
                .type__data#h1
                    .type__name H1
                    .type__example This one is the sub-section or widget title
                .type__data#h2
                    .type__name H2
                    .type__example Next one is the item title inside widgets
                .type__data#h3
                    .type__name H3
                    .type__example This is a label or CTA text
                .type__data#body
                    .type__name body
                    .type__example This is the body text which is used for most of the design, like paragraphs, lists, etc.