@import "../../../../../common/colors";
@import "../../../../../common/buttons";
@import "../navigation";


.header-common {
  max-width: 1440px;
  height: 70px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 10px 20px $dark-shade-05-color;
  @media (max-width: 991px) {
    width: 100vw;
  }
  &__content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px 10px 0;
    display: grid;
    grid-template-areas: 'logo menu links';
    grid-template-columns: 2fr 2fr 1fr;
    @media (max-width: 991px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__logo {
    grid-area: logo;
  }
  &__menu {
    grid-area: menu;
    align-self: center;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__burger-menu {
    display: none;
    @media (max-width: 991px) {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      border: 2px solid #BC9CFF;
      border-radius: 3px;
      &:before,
      &:after,
      span{
        content: '';
        position: absolute;
        display: block;
        width: 26px;
        height: 4px;
        border-radius: 4px;
        background-color: #8BA4F9;
        left: 5px;
      }
      &:before {
        top: 9px;
      }
      &:after {
        bottom: 9px;
      }
      span {
        top: 16px
      }
    }
  }
  &__list-menu {
    @media (max-width: 991px) {
      background-color: rgba(255, 255, 255, .7);
      border-radius: 0 0 0 5px;
      position: absolute;
      right: 0;
      top: 50px;
      &_hidden {
        display: none;
      }
    }
  }
  &__links {
    grid-area: links;
    width: 303px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__sign-in {
    @include transparent-button;
    padding: 8px 18px;
    &:hover{
      @include transparent-button-hover;
    }
  }
  &__sign-up {
    @include purple-button;
    padding: 5px 19.5px;
    &:hover{
      @include purple-button-hover;
    }
  }
}
