include ../navigation

mixin header(isHighlighted)
    .header-common
        .header-common__content
            .header-common__logo
                img(src='img/logo.svg', alt='logo')
            .header-common__burger-menu.js-burger-menu
                span
                .header-common__list-menu.header-common__list-menu_hidden.js-header-common__list-menu
                    +navigation(isHighlighted, false)
            .header-common__menu
                +navigation(isHighlighted, true)
                script(src='./toggle-burger-menu.js')
            .header-common__links
                .header-common__button
                    a(href="#").header-common__sign-in войти
                .header-common__button
                    a(href="#").header-common__sign-up зарегистрироваться