.calc-price{
    max-width: 380px;
    padding: 40px 30px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    //header

    &__header {
        display: flex;
        width: 319px;
        justify-content: space-between;
        margin-bottom: 14px;
    }
    &__no {
        @include h2-text;
        font-size: 24px;
        &:first-letter {
            font-size: 14px;
            margin-right: -3px;
        }
    }
    &__category {
        display: inline-block;
        @include h3-text;
        color: $purple-color;
        margin-left: 5px;
    }
    &__day-price {
        display: flex;
        width: 99px;
        justify-content: space-between;
        @include h1-text;
        font-size: 14px;
        color: $dark-shade-50-color;
        font-family: Montserrat;
    }
    &__text {
        font-weight: normal;
        font-size: 12px;
        line-height: 34px;
    }
    
    //dropdowns

    &__dates {
        display: flex;
        width: 320px;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__guests {
        width: 320px;
        .common-dropdown {
            width: inherit;
        }
        margin-bottom: 18px;
    }
    //button

    &__link {
        position: relative;
        @include purple-button;
        @include purple-button-arrow;
        &:hover {
            @include purple-button-hover;
        }
    }

    //calculation

    &__calculation {
        @include body-text;
    }

}

.calculation {
    width: 319px;
    &__main-price, 
    &__discount,
    &__addition-price,
    &__total {
        display: flex;
        justify-content: space-between;
        align-items: top;
        margin-bottom: 10px;
    }
    &__explanation {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $dark-shade-25-color;
        text-align: center;
        font-weight: bold;
        color: $dark-shade-25-color;
        line-height: 20px;
        position: relative;
    }
    &__discount &__explanation {
        margin-left: 5px;
        &:hover .calculation__discount_hidden{
            display: block;
        }
    }
    
    &__discount {
        &_hidden {
            font-weight: normal;
            color: $dark-shade-50-color;
            position: absolute;
            width: 100px;
            border: 1px solid $dark-shade-05-color;
            border-radius: 4px;
            top: -85px;
            left: -40px;
            background-color: #fff;
            display: none;
        }
    }
    &__addition-price {
        margin-top: 12px;
        &_hidden {
            font-weight: normal;
            color: $dark-shade-50-color;
            position: absolute;
            width: 140px;
            border: 1px solid $dark-shade-05-color;
            border-radius: 4px;
            top: -105px;
            left: -60px;
            background-color: #fff;
            display: none;
            
        }
    }
    &__addition-price &__explanation {
        margin-left: -25px;
        &:hover .calculation__addition-price_hidden{
            display: block;
        }
    }
    &__addition-price &__count {
        width: 200px;
        line-height: 18px;
    }

    &__total {
        @include h2-text;
        margin: 30px 0 21.5px;
    }
    &__name {
        display: flex;
        align-items: center;
        &::after {
            content: "";
            display: block;
            height: 20px;
            width: 192.5px;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.12);
        }
    }
}

