script(src="https://code.jquery.com/jquery-1.12.4.js")
script(src="./js/datepicker.js")
.datepicker-calendar
    .datepicker-calendar__card.datepicker-here(data-range='true')
        .datepicker-calendar__submit применить

