include ../../../common/inputs-mixins
.registration-card
    .registration-card__title Регистрация аккаунта
    .registration-card__name.text-field
        .text-field__default
            +input-text("Имя", "name")
        .text-field__default
            +input-text("Фамилия", "surname")
    .registration-card__gender
        include ../../../form_elements/src/includes/small-buttons/radio
    .registration-card__birthday.text-field
        .text-field__description_main Дата рождения
        .text-field__default
            +input-text("ДД.ММ.ГГГГ", "birthday")
    .registration-card__data.text-field
        .text-field__description_main Данные для входа в сервис
        .text-field__default
            +input-text("Email", "email")
        .text-field__default
            +input-password("Пароль", "password")
    .registration-card__specials.toggle-buttons
        .toggle-buttons__form
            input(type="checkbox", id="toggle").toggle-buttons__input
            label(for="toggle").toggle-buttons__label Получать спецпредложения
    .registration-card__button
        a(href="#").registration-card__payment перейти к оплате
    .registration-card__redirection
        .registration-card__question Уже есть аккаунт на Toxin
        .registration-card__button
            a(href="#").registration-card__sign-in Войти
    