include ../../../common/rooms-mixin
.rooms-cards
    +room("../src/img/888.png", "888", "9 990", "5", "145", "" , "люкс")
    +room("../src/img/840.png", "840", "9 990", "4", "65", "hidden")
script(src="./js/rooms-arrow.js")