@import '../../headers_footers/src/includes/footers/widget';
@import '../../headers_footers/src/includes/footers/copybar';
@import '../../headers_footers/src/includes/footers/creative';


.footer__fullscreen {
  max-width: 1440px;
  background: #ffffff;
  @media (max-width: 1199px) {
    display: none;
  }
}

.footer__widget {
  grid-area: widget;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 105px;
  height: 372px;
}
.footer__separator {
  height: 1px;
  width: 100%;
  background-color: rgba(31, 32, 65, 0.2);
}
.footer__bar {
  height: 70px;
  padding-top: 25px;
  max-width: 1160px;
  margin: 0 auto;
}

.footer__ipad {
  display: none;
  height: 367px;
  padding-top: 120px;
  @media (max-width: 1199px) {
    display: block;
  }
}

