.footer__fullscreen
    .footer__widget
        include ../../headers_footers/src/includes/footers/widget
    .footer__separator
    .footer__bar
        include ../../headers_footers/src/includes/footers/copybar
.footer__ipad
    include ../../headers_footers/src/includes/footers/creative