mixin header(data)
    .header
        - const {isAuth, userName, navigation, signIn, signUp} = data
        .header__burger 
            +burger(data)
        .header__content
            .header__logo
                include ../../images/logo-color.svg
            .header__navigation
                +header-navigation(navigation)
            .header__auth
                if isAuth
                    .header__name= userName
                else
                    .header__buttons
                        +button(signIn)
                        +button(signUp)