<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Headers & footers
        script(src="./main.js")
    body.headers-footers
            .headers-footers__logo
                img(src="./images/logo-bw.svg")
            .header
                .header__regular
                    include ../../components/header-regular/header-regular
                .header__designer
                    include ../../components/header-designer/header-designer
            .footer
                .footer__regular
                    include ../../components/footer-regular/footer-regular
                .footer__ipad
                    include ../../components/footer-ipad/footer-ipad
