extends ../../templates/ui-kit.pug
include ../../components/header/header.pug
include ../../components/header-navigation/header-navigation.pug
include ../../components/button/button.pug
include ../../components/burger/burger.pug
include ../../components/footer/footer.pug
include ../../components/footer-navigation/footer-navigation.pug
include ../../components/social-icon/social-icon.pug
include ../../components/text-field/text-field.pug
include ../../components/footer-small/footer-small.pug

block title
    title headers & footers

block content
    .headers-footers
        - 
            let headerData = {
                isAuth: false,
                userName,
                navigation: [
                    {text: "О нас", link: "#", isExpanded: false},
                    {text: "Услуги", link: "#", isExpanded: true},
                    {text: "Вакансии", link: "#", isExpanded: false},
                    {text: "Новости", link: "#", isExpanded: false},
                    {text: "Соглашения", link: "#", isExpanded: true},
                ],
                signIn: {
                    text: "Войти",
                    url: "#",
                    mod: "gradient-border"
                },
                signUp: {
                    text: "Зарегистрироваться",
                    url: "#",
                    mod: "purple"
                }
            }
        .headers-footers__item
            +header(headerData)
        - 
            headerData = {
                ...headerData,
                isAuth: true,
                userName: "Юлий Цезарь"
            }
        .headers-footers__item
            +header(headerData)
        -
            const footerData = {
                adText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                navigation: [
                    {
                        title: "навигация",
                        list: [
                            {text: "о нас", link: "#"},
                            {text: "новости", link: "#"},
                            {text: "служба поддержки", link: "#"},
                            {text: "услуги", link: "#"},
                        ]
                    },
                    {
                        title: "о нас",
                        list: [
                            {text: "о сервисе", link: "#"},
                            {text: "наша команда", link: "#"},
                            {text: "вакансии", link: "#"},
                            {text: "инвесторы", link: "#"},
                        ]
                    },
                    {
                        title: "служба поддержки",
                        list: [
                            {text: "соглашения", link: "#"},
                            {text: "сообщества", link: "#"},
                            {text: "связь с нами", link: "#"},
                        ]
                    }
                ],
                subscription: {
                    title: "подписка",
                    text: "получайте специальные предложения и новости сервиса",
                    inputData: {
                        action: "#",
                        method: "post",
                        type: "email",
                        name: "email",
                        placeholder: "Email",
                        mod: 'with-arrow'
                    }
                },
                mainText: "Copyright © 2018 Toxin отель. Все права защищены.",
                socialIcons: [
                    {
                        icon: "twitter",
                        link: "//twitter.com"
                    },
                    {
                        icon: "facebook-square",
                        link: "//facebook.com"
                    },
                    {
                        icon: "instagram",
                        link: "//instagram.com"
                    }
                ]
            }
        .headers-footers__item
            +footer(footerData)
        .headers-footers__item.headers-footers__item_small 
            +footer-small(footerData)