@import "../../common-styles/fonts.css";
@import "../../common-styles/variables.scss";
@import "../../templates/ui-kit.scss";
@import "../../components/header/header.scss";
@import "../../components/header-navigation/header-navigation.scss";
@import "../../components/button/button.scss";
@import "../../components/burger/burger.scss";
@import "../../components/footer/footer.scss";
@import "../../components/footer-navigation/footer-navigation.scss";
@import "../../components/social-icon/social-icon.scss";
@import "../../components/text-field/text-field.scss";
@import "../../components/footer-small/footer-small.scss";

.headers-footers {
    margin: 140px 0;
    &__item {
        margin-bottom: 40px;
        &_small {
            width: 768px;
            margin: 0 auto;
        }
    }
}