extends ../../templates/ui-kit.pug
include ../../components/header/header.pug
include ../../components/header-navigation/header-navigation.pug
include ../../components/button/button.pug
include ../../components/burger/burger.pug
include ../../components/footer/footer.pug

block title
    title headers & footers

block content
    .headerBlock
        - 
            let headerData = {
                isAuth: false,
                userName,
                navigation: [
                    {text: "О нас", link: "#", isExpanded: false},
                    {text: "Услуги", link: "#", isExpanded: true},
                    {text: "Вакансии", link: "#", isExpanded: false},
                    {text: "Новости", link: "#", isExpanded: false},
                    {text: "Соглашения", link: "#", isExpanded: true},
                ],
                signIn: {
                    text: "Войти",
                    url: "#",
                    mod: "gradient-border"
                },
                signUp: {
                    text: "Зарегистрироваться",
                    url: "#",
                    mod: "purple"
                }
            }
        .headerBlock__item
            +header(headerData)
        - 
            headerData = {
                ...headerData,
                isAuth: true,
                userName: "Юлий Цезарь"
            }
        .headerBlock__item
            +header(headerData)
    .footerBlock
        -
            let footerData = {
                adText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                navigation: ["навигация", "о нас", "новости", "служба поддержки", "услуги"],
                about: ["о нас", "о сервисе", "наша команда", "вакансии", "инвесторы"],
                support: ["служба поддержки", "соглашения", "сообщества", "связь с нами"],
                subscription: ["подписка"],
                subText: "Получайте специальные предложения и новости сервиса",
                mainText: "Copyright © 2018 Toxin отель. Все права зачищены."
            }
        .footerBlock__item
            +footer(footerData)
        .footerBlock__item


//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Headers & footers
//-         script(src="./main.js")
//-     body.headers-footers
//-             .headers-footers__logo
//-                 img(src="./images/logo-bw.svg")
//-             .header
//-                 .header__regular
//-                     include ../../components/header-regular/header-regular
//-                     +header(true)
//-                 .header__designer
//-                     include ../../components/header-designer/header-designer
//-             .footer
//-                 .footer__regular
//-                     include ../../components/footer-regular/footer-regular
//-                 .footer__ipad
//-                     include ../../components/footer-ipad/footer-ipad
