extends ../../templates/ui-kit.pug
include ../../components/header/header.pug
include ../../components/header-navigation/header-navigation.pug
include ../../components/button/button.pug
include ../../components/burger/burger.pug

block title
    title headers & footers

block content
    .headerBlock
        - 
            let headerData = {
                isAuth: false,
                userName,
                navigation: [
                    {text: "О нас", link: "#", isExpanded: false},
                    {text: "Услуги", link: "#", isExpanded: true},
                    {text: "Вакансии", link: "#", isExpanded: false},
                    {text: "Новости", link: "#", isExpanded: false},
                    {text: "Соглашения", link: "#", isExpanded: true},
                ],
                signIn: {
                    text: "Войти",
                    url: "#",
                    mod: "gradient-border"
                },
                signUp: {
                    text: "Зарегистрироваться",
                    url: "#",
                    mod: "purple"
                }
            }
        +header(headerData)
        - 
            headerData = {
                ...headerData,
                isAuth: true,
                userName: "Юлий Цезарь"
            }
        +header(headerData)



//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Headers & footers
//-         script(src="./main.js")
//-     body.headers-footers
//-             .headers-footers__logo
//-                 img(src="./images/logo-bw.svg")
//-             .header
//-                 .header__regular
//-                     include ../../components/header-regular/header-regular
//-                     +header(true)
//-                 .header__designer
//-                     include ../../components/header-designer/header-designer
//-             .footer
//-                 .footer__regular
//-                     include ../../components/footer-regular/footer-regular
//-                 .footer__ipad
//-                     include ../../components/footer-ipad/footer-ipad
