.copybar-footer
    .copybar-footer__text Copyright © 2018 Toxin отель. Все права зачищены.
    .copybar-footer__socials
        a(href="#")
            img(src="img/twitter.png", alt="")
        a(href="#")
            img(src="img/facebook.png", alt="")
        a(href="#")
            img(src="img/inst.png", alt="")
