.creative-footer {
    text-align: center;
    &__text {
        margin-top: 15.5px;
        margin-bottom: 21px;
        @include body-text;
        text-align: center;
    }
    &__socials{
        margin: auto;
        max-width: 112px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}