.creative-footer {
    text-align: center;
    &__text {
        margin-top: 15.5px;
        margin-bottom: 21px;
        @include body-text;
        text-align: center;
    }
    &__socials{
        margin: auto;
        max-width: 112px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.footer-creative{
    max-width: 768px;
    height: 367px;
    margin: auto;

    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    border: 1px solid transparent;
    &__content {
        max-width: 560px;
        margin: 117px auto 0;
    }
}