mixin dropdown(name, value, id, newclass)
    .dropdown-row
        .label= name
        .counter
            button(data-direction="minus" class= newclass).counter__btn.minus-btn -
            input(type="text" value= value, id= id).counter__value
            button(data-direction="plus" class= newclass).counter__btn +

