.footer-standard
    .widget
        .widget__content
            include ../headers_footers/src/includes/footers/widget
    .bar
        .bar__content
            include ../headers_footers/src/includes/footers/copybar
.footer-creative
    .footer-creative__content
        include ../headers_footers/src/includes/footers/creative