mixin navigation-menu(name, href)
    li.navigation__link
        a(href= href)= name
mixin navigation-menu-main(name, href)
    li.navigation__link_main
        a(href= href)= name
mixin navigation-menu-sub(name, href)
    li.navigation__link_sub
        a(href= href)= name
        img(src="img/arrow.svg", alt="->")
