
mixin input-email(name)
    form(action="" method="post").email-form
        input(type="text" placeholder= name name="email").email-form__text
        input(type="submit" value="").email-form__arrow