@import "colors";
@mixin h1-text {
  font: {
    family: Quicksand, OpenSans;
    weight: 700;
    size: 24px;
  }
  color: $dark-shade-100-color;
  line-height: 30px;
}

@mixin h2-text {
  font: {
    family: Quicksand, OpenSans;
    weight: 700;
    size: 19px;
  }
  color: $dark-shade-100-color;
  line-height: 24px;
}

@mixin h3-text {
  font: {
    family: Montserrat;
    weight: 700;
    size: 12px;
  }
  color: $dark-shade-100-color;
  line-height: 15px;
  text-transform: uppercase;
}

@mixin body-text {
  font: {
    family: Montserrat;
    weight: normal;
    size: 14px;
  }
  color: $dark-shade-75-color;
  line-height: 24px;
}

@mixin title {
  max-width: 320px;
  margin-bottom: 5px;
  @include h3-text;
}