.palette {
  &__data {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    &_dark100 {
      background: $dark100;
    }
    &_dark75 {
      background: $dark75;
    }
    &_dark50 {
      background: $dark50;
    }
    &_dark25 {
      background: $dark25;
    }
    &_dark5 {
      background: $dark5;
    }
    &_purple {
      background: $purple;
    }
    &_green {
      background: $green;
    }
  }
  &__text {
    font: {
      family: Montserrat, sans-serif;
      weight: 700;
      size: 19px;
    }
    color: $dark100;
    line-height: 29px;

  }
  &__number {
    font-weight: normal;
  }
}