.footer-ipad
    .footer-ipad__content
        .footer-ipad__logo
            img(src="images/logo-color.svg", alt="")
        .footer-ipad__text Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-ipad__social
            a(href="#")
                img(src="images/twitter.png", alt="twitter")
            a(href="#")
                img(src="images/facebook.png", alt="facebook")
            a(href="#")
                img(src="images/inst.png", alt="instagram")