.creative-footer
    .creative-footer__logo
        img(src="img/logo.svg", alt="")
    .creative-footer__text Copyright © 2018 Toxin отель. Все права зачищены.
    .creative-footer__socials
        a(href="#")
            img(src="img/twitter.png", alt="twitter")
        a(href="#")
            img(src="img/facebook.png", alt="facebook")
        a(href="#")
            img(src="img/inst.png", alt="instagram")