@import '../../common.scss';
.footer-ipad {
  max-width: 768px;
  height: 367px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  box-sizing: border-box;
  padding-top: 118px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 129px;
  }
  &__text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgba(31, 32, 65, 0.75);
  }
  &__social{
    width: 112px;
    display: flex;
    justify-content: space-between;
  }
  &__item::after {
    content: 'keyboard_arrow_down';
    font-family: $material-icon;
}
}
