.footer {
    background-color: #FFF;
    box-shadow: 0 10px 20px $dark5;
    height: 247px;
    padding-top: 120px;
    @media (min-width: 930px) {
        height: auto;
        display: grid;
        row-gap: 87px;
        padding-top: 100px;
    }
    &__content {
        margin: 0 auto;
        max-width: 1160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @media (min-width: 930px) {
            display: grid;
            align-items: flex-start;
            height: auto;
            grid-template-columns: 260px 1fr 1fr;
            column-gap: 40px;
        }
    }
    &__logo svg {
        display: block;
        margin-bottom: 19px;
    }
    &__ad {
        display: none;
        @media (min-width: 930px) {
            display: block;
            &::first-letter {
                text-transform: uppercase;
            }
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 24px;
            color: $dark50;
            margin-bottom: 21px;
        }
    }
    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: $dark100;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 19px;
    }
    &__navigation {
        display: none;
        @media (min-width: 930px) {
            margin-top: 4px;
            display: grid;
            grid-template-columns: 150px 150px 150px;
            column-gap: 50px;
        }
    }
    &__subscription {
        display: none;
        @media (min-width: 930px) {
            margin-top: 4px;
            display: block;
            margin-left: 12px;
        }
    }
    &__bottom {
        @media (min-width: 930px) {
            box-shadow: 0px -1px 0px rgba(31, 32, 65, 0.1);
            height: 70px;
        }
    }
    &__bar {
        max-width: 1160px;
        min-width: 320px;
        margin: 0 auto;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @media (min-width: 930px) {
            flex-direction: row;
        }
    }
    &__copyright {
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        color: $dark50;
    }
    &__social {
        width: 112px;
        display: flex;
        justify-content: space-between;
    }
}