mixin footer(data)
    - const {adText, navigation, subscription, mainText, socialIcons} = data
    .footer
        .footer__content 
            .footer__information
                .footer__logo 
                    include ../../images/logo-color.svg
                .footer__ad= adText 
            nav.footer__navigation 
                for item in navigation
                    +footer-navigation(item)
            .footer__subscription 
                .footer__title= subscription.title 
                .footer__text= subscription.text
                +text-field(subscription.inputData)
        .footer__bar 
            .footer__mainText= mainText
            for icon in socialIcons
                +social-icon(icon)
            
