.footer {
    background-color: #FFF;
    box-shadow: 0 10px 20px $dark5;
    padding: 120px 0;
    @media (min-width: 930px) {
        height: auto;
        padding: 0;
    }
    &__content {
        margin: 0 auto;
        max-width: 1160px;
        display: flex;
        justify-content: center;
        @media (min-width: 930px) {
            padding: 87px 0 73px;    
            justify-content: space-between;
        }
    }
    &__information {
        max-width: 253px;
        margin-top: 13px;
    }
    &__logo svg {
        display: block;
        margin-bottom: 17px;
    }
    &__text,
    &__ad {
        &::first-letter {
            text-transform: uppercase;
        }
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: $dark50;
        margin-bottom: 13px;
    }
    &__ad {
        display: none;
        @media (min-width: 930px) {
            display: block;
        }
    }
    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: $dark100;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__navigation {
        display: none;
        @media (min-width: 930px) {
            width: 547px;
            display: flex;
            justify-content: space-between;
        }
    }
    &__subscription {
        margin-top: 16px;
        display: none;
        @media (min-width: 930px) {
            display: block;
            max-width: 260px;
        }
    }
    &__wrapper {
        @media (min-width: 930px) {
            box-shadow: 0px -1px 0px rgba(31, 32, 65, 0.1);
        }
    }
    &__bar {
        max-width: 1160px;
        min-width: 320px;
        margin: 0 auto;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @media (min-width: 930px) {
            flex-direction: row;
        }
    }
    &__social {
        width: 112px;
        display: flex;
        justify-content: space-between;
    }
}