<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='./first_header.js')
        title First header
    header.first-header
        .first-header__content
            img(src="img/logo.svg", alt="logo").logo
            nav.main-menu
                ul.main-menu__list
                    li.main-menu__link_main
                        a(href="#") Home
                    li.main-menu__link
                        a(href="#") About Us
                    li.main-menu__link_arrow
                        a(href="#") Services
                            img(src="img/arrow.svg", alt="arrow").arrow
                    li.main-menu__link
                        a(href="#") Careers
                            
                    li.main-menu__link
                        a(href="#") News
                    li.main-menu__link
                        a(href="#") Documentation
                .main-menu__button
                    .main-menu__login Login
                    .main-menu__register Register
        