.header {
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	max-width: 1440px;
	width: 100%;	
}
.content {
	max-width: 1160px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.logo {
	max-width: 106px;
	max-height: 40px;
	width: 100%;
	height:
	img {

	}
}

.main-menu {
	max-width: 822px;
	width: 100%;
	white-space: nowrap;

	&__list {
		padding-left: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;	
	}

	&__link {
		position: relative;
		a {
			text-decoration: none;
			font-size: 14px;
			font-family: Montserrat;
			color: rgba(31, 32, 65, 0.5);
			}
		&:hover .sub-menu{
				display: block;
		}
	}

/* кнопка входа*/
	&__entrance {
		a{
			font-family: Montserrat;
			color: #BC9CFF;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 12px;
			font-weight: bold;
			
			background-color: #FFF;
			border: 2px solid transparent;
			padding: 7.5px 18.5px;
			position: relative;
			border-radius: 20px;
			background-clip: padding-box;
			margin: auto;
			&:before {
				content: '';
				position: absolute;
				top: 0; left: 0; bottom: 0; right:0;
				background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
				margin: -2px;
				z-index: -1;
				border-radius: 20px;
			}
			/*добавление белой полупрозрачной обводки*/
			&:hover {
				border: 2px solid rgba(255, 255, 255, 0.5);
			}

			
		}
	}
/*кнопка регистрации*/
	&__registration {
		a{
			font-family: Montserrat;
			text-decoration: none;
			color: #FFF;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
			padding: 9.5px 22px;
			border-radius: 22px;
			background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.sub-menu {
	display: none;
	padding: 5px;
	position: absolute;
	&__link {
		padding: 2px;
		list-style: none;
		white-space: nowrap;
	}

}