.log-in {
    &__button {
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: #BC9CFF;
        background-color: #FFF;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 22px;

        padding: 6.5px 17.5px;
        margin: auto;
        position: relative;
        z-index: 1;
        
        &::before {
            content: '';
            position: absolute;
            top: 0; left: 0; bottom: 0; right:0;
            margin: -2px;
            z-index: -1;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
        }
        &:visited {
            color: #BC9CFF;
        }
        &:hover {
            border: 2px solid rgba(225, 225, 225, 0.5);
        }
    }
}
