<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign in
        script(src="./sign-in.js")
    header
        include ../../../common/header
    body
        .sign-in-page
            .sign-in-page__card
                include ../../../cards/src/includes/sign-in
    footer  
        include ../../../common/footer