
.palette {
  &__data {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    &_dark100 {
      background: #1F2041;
    }
    &_dark75 {
      background: rgba(31, 32, 65, 0.75);
    }
    &_dark50 {
      background: rgba(31, 32, 65, 0.5);
    }
    &_dark25 {
      background: rgba(31, 32, 65, 0.25);
    }
    &_dark5 {
      background: rgba(31, 32, 65, 0.05);
    }
    &_purple {
      background: #BC9CFF;
    }
    &_green {
      background: #6FCF97;
    }
  }
  &__text {
    font: {
      family: Montserrat, sans-serif;
      weight: 700;
      size: 19px;
    }
    color: #1F2041;
    line-height: 29px;

  }
  &__number {
    font-weight: normal;
  }
}