.colors
    .colors__data
        .colors__box.colors__box_dark100
        .colors__text Dark Shade 100%
            .colors__number #1F2041
    .colors__data
        .colors__box.colors__box_dark75
        .colors__text Dark Shade 75%
            .colors__number #1F2041
    .colors__data
        .colors__box.colors__box_dark50
        .colors__text Dark Shade 50%
            .colors__number #1F2041
    .colors__data
        .colors__box.colors__box_dark25
        .colors__text Dark Shade 25%
            .colors__number #1F2041
    .colors__data
        .colors__box.colors__box_dark5
        .colors__text Dark Shade 5%
            .colors__number #1F2041
    .colors__data
        .colors__box.colors__box_purple
        .colors__text Purple
            .colors__number #BC9CFF
    .colors__data
        .colors__box.colors__box_green
        .colors__text Green
            .colors__number #6FCF97