.header {
	width: 100%;
	max-width: 1440px;
	max-height: 70px;
	display: flex;
}

.logo {
	width: 27%;
	align-items: center;
	display: flex;
	margin-left: 10%
}

.logo__circle {
	position: relative;
}

.logo__line:first-of-type {
	position: absolute;
	top:32%;
	left:22%
}
.logo__line:last-of-type {
	position: absolute;
	top:18%;
	left:52%
}


.logo__text {
	margin-left: 5%;
}

.menu {
	display: flex;
	align-items: center;	
	list-style-type: none;
	width:32.3%;
}

.menu__link {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9em;
	color: rgba(31, 32, 65, 0.5);
	margin-left: 1em;
	white-space: nowrap;
}

.button {
	display: flex;
	align-items: center;
}

.button__entrance {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #BC9CFF;
	padding: 10px 20px;
	border: 3px solid #BC9CFF;
	border-radius: 22px;
}

.button__registration {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 11.5px 20px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	margin-left: 7%;
}
