.nav-content {
	max-width: 1400px;
	width: 100%;
	height: 372px;
}
.info {
	max-width: 1160px;
	margin: 7% auto;
	height: 172px;
	display: flex;
	justify-content: space-between;
	&__logo {
		max-width: 260px;
	}
	&__navigation {
		max-width: 200px;
		
	}
	&__about-us {
		max-width: 200px;
		
	}
	&__assistance {
		max-width: 200px;
		
	}
	&__subscription {
		max-width: 260px;
		
	}
}
.logo {
	&__img {
		margin-bottom: 20px
	}
	&__description {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}
.navigation {
	padding-left: 0;
	margin-top: 0;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	&__link {
		list-style: none;
		text-transform: none;
		font-weight: normal;
		color: rgba(31, 32, 65, 0.75);
		line-height: 17px;
		font-size: 14px;
		margin-top: 20px;
	}
}
.about-us {
	padding-left: 0;
	margin-top: 0;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	&__link {
		list-style: none;
		text-transform: none;
		font-weight: normal;
		color: rgba(31, 32, 65, 0.75);
		line-height: 17px;
		font-size: 14px;
		margin-top: 20px;
	}
}
.assistance {
	padding-left: 0;
	margin-top: 0;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	&__link {
		list-style: none;
		text-transform: none;
		font-weight: normal;
		color: rgba(31, 32, 65, 0.75);
		line-height: 17px;
		font-size: 14px;
		margin-top: 20px;
	}
}
.subscription {
	margin-top: 0;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	&__description {
		list-style: none;
		text-transform: none;
		font-weight: normal;
		color: rgba(31, 32, 65, 0.75);
		line-height: 17px;
		font-size: 14px;
		margin: 20px 0;
	}
	&__form {

		display: flex;
		align-items: center;
		width: 260px;
		height: 44px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		& :first-child {
			border: none;
			outline: none;
			-webkit-appearance: none;
			width: 216px;
		}
		& :last-child {
			padding: 13px;
		}
		&_text {
			font-family: Montserrat;
			font-size: 14px;
			line-height: 24px;
			color: rgba(31, 32, 65, 0.25);
			padding-left: 15px;
		}
	}
}
