.nav-content {
  max-width: 1400px;
  width: 100%;
  height: 372px;
}

.info {
  max-width: 1160px;
  margin: 7% auto;
  height: 172px;
  display: flex;
  justify-content: space-between;
}
.info__logo {
  max-width: 260px;
}
.info__navigation {
  max-width: 200px;
}
.info__about-us {
  max-width: 200px;
}
.info__assistance {
  max-width: 200px;
}
.info__subscription {
  max-width: 260px;
}

.logo__img {
  margin-bottom: 20px;
}
.logo__description {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.navigation {
  padding-left: 0;
  margin-top: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.navigation__link {
  list-style: none;
  text-transform: none;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
  line-height: 17px;
  font-size: 14px;
  margin-top: 20px;
}

.about-us {
  padding-left: 0;
  margin-top: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.about-us__link {
  list-style: none;
  text-transform: none;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
  line-height: 17px;
  font-size: 14px;
  margin-top: 20px;
}

.assistance {
  padding-left: 0;
  margin-top: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.assistance__link {
  list-style: none;
  text-transform: none;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
  line-height: 17px;
  font-size: 14px;
  margin-top: 20px;
}

.subscription {
  margin-top: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.subscription__description {
  list-style: none;
  text-transform: none;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.75);
  line-height: 17px;
  font-size: 14px;
  margin: 20px 0;
}
.subscription__form {
  display: flex;
  align-items: center;
  width: 260px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
.subscription__form :first-child {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 216px;
}
.subscription__form :last-child {
  padding: 13px;
}