.diagram
    .diagram__chart
        svg(width="182", height="182", viewBox="0 0 50 50").chart
            circle(r="15.9" cx="50%" cy="50%").chart__excellent
            circle(r="15.9" cx="50%" cy="50%").chart__good
            circle(r="15.9" cx="50%" cy="50%").chart__fine
        .diagram__description 
            .diagram__number 260 
            .diagram__votes голосов
    .diagram__legend.legend
        .legend__item
            .legend__color.legend__color_excellent
            .legend__description Великолепно
        .legend__item
            .legend__color.legend__color_good
            .legend__description Хорошо
        .legend__item
            .legend__color.legend__color_fine
            .legend__description Удовлетворительно
        .legend__item
            .legend__color.legend__color_disappoint
            .legend__description Разочарован
